
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>s</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#include './Resources/views/common/header.html'}}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 master">
                <h1 style="font-size:48px">
                    <strong>
                        <span class="text-info">~</span>
                        Netfluid
                        <span class="text-info">()</span>
                    </strong>
                </h1>
            </div>
            <div class="col-md-2 master">
                PORCO
            </div>
            <div class="col-md-2 master">
                DIO
            </div>
        </div>
        <div class="row master" style="background-color:red">
            <h1 style="color:white">Test</h1>
        </div>
    </div>

    <script>
        $(document).ready(function ()
        {   
            $('.ajaxForm').ajaxForm();
            $("table").tablesorter();
            $('.datetimepicker').datetimepicker();
        });
    </script>
</body>
</html>
