<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Razor" version="4.0.0-beta1" targetFramework="net46" />
  <package id="Microsoft.Framework.Logging.Abstractions" version="1.0.0-beta6" targetFramework="net46" />
  <package id="Microsoft.Net.WebSockets" version="1.0.0-beta6" targetFramework="net46" />
  <package id="RazorEngine" version="4.2.0-beta2" targetFramework="net46" />
</packages>