<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="NetFluidSettings" type="NetFluid.Settings, NetFluid"/>
    <!-- ATTENTION DUE TO A C# BUG configSections MUST BE THE FIRST CHILD OF CONFIGURATION -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!-- NetFluid settings will all parameters -->
  <NetFluidSettings>
    <Interfaces>
      <!-- HTTP INTERFACE ON PORT 80 -->
      <Interface IP="127.0.0.1" Port="8080"/>
    </Interfaces>
  </NetFluidSettings>
</configuration>