
*
{
    font-family: arial,sans-serif;
}

.bar
{
    padding:8px;
    font-weight:bold;
    color:white;
    font-family: 'Segoe UI Light_','Open Sans Light',Verdana,Arial,Helvetica,sans-serif;
    vertical-align:central;
    margin:4px;
}

.articletitle
{
    display:inline;
    margin-left:15px;
}

.bar a, .bar a:hover, .bar a:visited
{
    color:white;
}

.small
{
    height:50%;
}

.white
{
    background-color:#ffffff;
    border:3px rgb(100, 118, 135) solid;
    color: black;
}

.amber
{
    background-color: #ff9900 !important;
}

.violet
{
    background-color: #9636a4 !important;
}

.green
{
    background-color: #90c651 !important;
}

.blue
{
    background-color: rgb(67, 144, 223) !important;
}

.red        
{
    background-color: rgb(199, 80, 80) !important;
}

.black
{
    background-color: rgb(43, 43, 43);
}

.gray
{
    background-color: rgb(100, 118, 135) !important;
}

.net
{
    color: rgb(43, 43, 43);
}

.modal
{
    color: rgb(100, 118, 135);
}

.modal .btn-primary
{
    color: rgb(255, 255, 255);
}

h1
{
    font-size:64px;
    font-weight:bold;

}

h1 img,h2 img,h3 img,h4 img,h5 img
{
    display:inline;
    vertical-align:central;
}
